[2019-08-05 23:48] vermagit opened #17 "Updating hostlists after resource resize"
After azhpc-resize, the hostslists (global, head, compute) aren't updated. There's new compute-hostlist generated though.

azhpc-resize should be updated with code following "status "building hostlists" in azhpc-build after checking for additions and exclusions.

[2019-08-07 21:33] xpillons opened #18 "azhpc-status doesn't list Windows VMs"

[2019-08-08 19:06] xpillons opened #19 "Tutorial instructions to build OpenFoam doesn't works"
This script install_openfoam_6_impi2018_gcc82.sh needs more setup before being called, or need to setup GCC path to be used.
Following the tutorial of OpenFoam, it appears that running this command "azhpc-run -u hpcuser apps/openfoam_org/install_openfoam_6_impi2018_gcc82.sh" will generate error

make: gcc: Command not found |  
-- | --
  | make: *** [/mnt/resource/scratch/OpenFOAM/OpenFOAM-6/wmake

[2019-08-08 19:13] xpillons opened #20 "OpenFoam - Erros in installation and running instructions"
Commands "azhpc-run -u hpcuser $azhpc_dir/apps/openfoam_org/full_openfoam.sh" and "azhpc-run -u hpcuser $azhpc_dir/apps/openfoam_org/tar_openfoam.sh" are wrong because those 2 files no longer exists.

[2019-08-08 22:03] xpillons opened #21 "azhpc-build - detect when a resource failed to be created"
If a resource built by azhpc-build failed to build, then the command wait until the default timeout (3600s). Reduce that timeout or detect any failures.
Typical error woud be not enough quota, or wrong password for windows VMs

[2019-08-22 15:10] kanchanm commented on #21
@edwardsp fixed this with https://github.com/Azure/azurehpc/commit/2c6e03b9349b45d81eeec6e60c4dca77a74f5976

[2019-08-22 15:10] #21 closed

[2019-08-28 15:36] JonShelley opened #28 "lfshsm.sh has region hard coded to westeurope"
Line 60 in lfshsm.sh has region = westeurope. I'm guessing that this needs to be a variable. @edwardsp can you take a look at this?

[2019-08-30 16:34] edwardsp commented on #28
It doesn't actually matter what it is set to as it's not used.  The Azure storage URL does not have the region in there.  We can probably remove but I need to check whether the lhsmd plugin fails if there isn't something present.

[2019-09-02 10:19] xpillons opened #31 "Remove hardcoded values from example/lustre_combined"
File https://github.com/Azure/azurehpc/blob/master/examples/lustre_combined/config.json contains hardcoded values that should be replaced by <NOT-SET> so it can be reused and initialized easily

[2019-09-02 10:29] xpillons commented on #31
fixed

[2019-09-02 10:30] #31 closed

[2019-09-14 02:26] kanchanm opened #46 "post_cyclevm.sh dependency on unzip"
https://github.com/Azure/azurehpc/blob/master/scripts/post_cyclevm.sh has dependency on unzip and fails as it is not present in some case. it failed for me when using ubuntu shell (not sure if it is present in cloudshell too).

[2019-09-17 06:58] xpillons commented on #46
cloudshell and CentOS have unzip by default installed

[2019-09-17 07:01] xpillons commented on #46
added unzip as a pre-requ in the pre-requisite tutorial document

[2019-09-17 07:01] #46 closed

[2019-09-23 10:30] lmiroslaw opened #60 "GROMAGCS with GPU support"
Any chances to provide GPU support for GROMACS?
only -DGMX_GPU=ON during the compilation is required + CUDA.

[2019-09-23 12:23] xpillons commented on #60
Thanks for the suggestion. It is not only the CUDA option, but creating a build machine and later a GPU cluster with the right configuration. So doable, but it will require some time.

[2019-09-25 13:35] edwardsp opened #66 "Config file compatibility broken with az cli fix"
The unit was changed to GB in the bugfix for the az cli changing and only the anf_full was updated.  Please can we keep the ANF so that pools and volumes are in 1TB units in the config file?

[2019-09-25 13:45] garvct commented on #66
The official netapps az cli has  the pools unit is TiB and the volume unit in GiB, should we not have the config file use the same units?

[2019-09-25 14:01] edwardsp commented on #66
It used to be bytes but we created a config file and had TiB to simplify things.  The issue I have is this was pushed as a bug fix but we broke compatibility with the config file.  Changing the config file should be discussed as a feature as we have our own projects outside of this repo which will break.

[2019-09-26 17:58] edwardsp commented on #17
The hostlist will now be updated on the jumpbox when any new nodes are added.

[2019-09-26 17:58] #17 closed

[2019-10-04 14:33] #66 closed

[2019-10-07 16:41] JonShelley opened #83 "0 size VM scale set no longer works"
Previously we could deploy a scaleset with size 0. Now when we do this an error is thrown

[2019-10-10 16:08] JonShelley opened #87 "pbsclient.sh script fails on a azhpc-resize if there are existing compute nodes"
When resizing the cluster I see that the pbsclient script fails which causes the resize to report a failure. The issue is that the packages are installed and yum report that there is nothing to do to stderr which is interpreted as an error.

[2019-10-24 09:02] edwardsp commented on #87
I've just pushed a fix here.  It was an bug where the install steps were being run again on existing nodes when a VMSS was resized to be made bigger

[2019-12-16 15:26] lmiroslaw opened #119 "BeeGFS client issue"
After deploying https://github.com/Azure/azurehpc/tree/master/examples/beegfs

I get:
Stderr: Job for beegfs-client.service failed because the control process exited with error code. See "systemctl status beegfs-client.service" and "journalctl -xe" for details

CC team had a similar issue with rdma drivers being not available for the client to converge.

[2019-12-16 15:33] garvct commented on #119
Can you try CentOS-HPC 7.7 and see if you see the same error?

[2019-12-16 16:28] lmiroslaw commented on #119
the error is the same with CentOS-HPC 7.7:

Stderr: Job for beegfs-client.service failed because the control process exited with error code. See "systemctl status beegfs-client.service" and "journalctl -xe" for details.

BTW, the same problem is for beegfs-data-disk

[2019-12-16 19:27] garvct commented on #119
Thanks, for checking.

It looks like the beegfs packages were updated on Nov 29, 2019 from 7.1.3 to 7.1.4. It appears that this update broke BeeGFS deployed in azurehpc on CentOS 7.7. I have created a branch called "beegfs_713" which deploys BeeGFS using the 7.1.3 packages instead of 7.1.4, all BeeGFS examples have been updated in this branch. I will create a PR later. Please try branch beegfs_713

[2019-12-16 23:16] garvct commented on #119
Added PR #120

[2019-12-17 11:02] lmiroslaw commented on #119
it worked! I just tested it with beegfs example. Thanks @garvct.

[2019-12-17 15:02] lmiroslaw opened #121 "Scaling out BeeGFS"
How can I add the new storage or metaserver to the cluster?

I have tried to follow official documentation [here](https://www.beegfs.io/wiki/FAQ#add_node), e.g. scale out the compute/beegfssm VMSSs, restarted the services but the nodes are still not recognized by the BeeGFS manager.

Am I am missing something?

[2019-12-17 15:49] garvct commented on #121
The following procedure worked for me.

- Have existing beegfs (4xL8sv2), but want to increase storage and metadata servers from 4 to 6.
-azhpc-resize beegfssm 6

[hpcadmin@beegfsm beegfs]$ beegfs-check-servers
Management
==========
beegfsm [ID: 1]: reachable at 10.34.4.14:8008 (protocol: TCP)

Metadata
==========
beegfa57e000000 [ID: 1]: reachable at 10.34.4.4:8005 (protocol: TCP)
beegfa57e000004

[2019-12-17 17:06] lmiroslaw commented on #121
It worked. Thanks. However, this is strange that I don't see the performance improvement when doubling the size of beegfsm. I am testing the performance by copying the 24GB folder between two locations: time cp sim sim3 -R
The folder contains ca. 120 directories with several files in each in MB range (2.2M, 119MB, 47MB).

For small and bigger beegfsm I get the same result.
real    2m26.809s
user

[2019-12-17 17:33] garvct commented on #121
Have you tried multiple cp's ? Maybe each cp to a different target. May need to determine if the source data is on 4 storage targets or more. Need to determine if reading or writing is slowing the performance.

[2019-12-17 19:43] garvct commented on #121
Try to maximize the number of disks working on the I/O operation. beegfs-df can help to see what disks/targets are active.

[2019-12-18 13:39] #119 closed

[2019-12-19 09:30] lmiroslaw commented on #121
First feedback: This is my first attempt to parallelize cp operation:
[code]
With this code I was able to reduce the copying time from 1m41sec to 58 secs. Now I will test the same code after doubling the size of the cluster.

[2019-12-19 14:13] lmiroslaw opened #122 "Benchmarking OpenFOAM"
hi Team,

I would like to benchmark OpenFOAM motorbike case on SLURM cluster. For that I need to generate mesh with 50 millions cells.

Could you guide me how to modify [this script](https://github.com/Azure/azurehpc/blob/master/apps/openfoam_org/motorbike_benchmark/generate_mesh.sh) to do that?

[2020-01-23 18:37] tmefford opened #148 "Error trying beegfs_local_ssd example."
After running azhpc-init azhpc-build fails with this error:

Thu Jan 23 09:29:47 PST 2020 : creating vm: beegfsm
az vm create: 'os=StandardSSD_LRS' is not a valid value for '--storage-sku'. See 'az vm create --help'.

[2020-01-24 17:53] tmefford commented on #148
Tried the lustre_full example--same result--
Fri Jan 24 09:52:30 PST 2020 : creating vmss: compute
az vmss create: 'os=StandardSSD_LRS' is not a valid value for '--storage-sku'. See 'az vmss create --help'.

[2020-01-24 18:35] garvct commented on #148
Looking into this error, stay tuned.

[2020-01-24 20:17] garvct commented on #148
The beegfs_local_ssd example deploys for me correctly.

I wonder if you have an out-of-date azurehpc repo?
or
your az cli is too old?

my az cli version is azure-cli                         2.0.80

What is the version number of your az cli (az --version)?
If it's old please update it to the latest version.
Also did you pull the latest azurehpc repo?  (git pull)
If the az cli and/or azurehpc repo i

[2020-01-24 20:24] tmefford commented on #148
Could be,  2.0.46 is what I have currently.  Do you think that would make the difference?  I just did a git clone on the repo early this week, so that is probably up-to-date.  I will update cli and try again.   Will update on Monday.  (Don’t want to leave cluster up over the weekend.)  Also, (Please don’t stop listening!!)  I did have to make a couple of changes to the config file for what I need

[2020-01-24 20:33] garvct commented on #148
Hi Tim, yes I think the version you have for az cli is too old. You can verify by

az vm create -h | more

search for the "--storage-sku" command option my description says

"The SKU of the storage account with which to persist VM. Use a
                                     singular sku that would be applied across all disks, or specify
                                     individual disks. Usage:

[2020-01-27 19:29] tmefford commented on #148
I think the new version mostly worked to fix the issue.  Sorry for the trouble.  The cluster creation failed, but I'm not sure if this is even a bug.  Any suggestions would be appreciated--thank you, Tim

Mon Jan 27 10:59:40 PST 2020 : creating vm: beegfsm
Mon Jan 27 10:59:50 PST 2020 : creating vmss: beegfssm
Mon Jan 27 11:00:03 PST 2020 : creating vmss: compute
Mon Jan 27 11:00:16 PST 2020 : cre

[2020-01-27 20:00] garvct commented on #148
It  looks like you may have some network issues? The error occurred when azhpc tried to copy some scripts/env from your local WS to the headnode you created in Azure.

Can you ssh to the headnode?

ssh -i <YOUR_KEY> hpcadmin@headnode60f349.westeurope.cloudapp.azure.com

[2020-01-27 20:58] tmefford commented on #148
I could, but then I deleted it all in order to try again.  Perhaps being behind a firewall is biting me here.  ssh can go through, as it is set up with a proxy, but perhaps the scripts need to have a proxy set somewhere else.   Or maybe they need an http proxy.  Thanks for looking the error message over.  I will try again this afternoon.  If there is a place to set a proxy, please let me know.   T

[2020-01-27 21:57] tmefford commented on #148
Failure in same place.  I think it is proxy related.  I've succeeded in copying the azhpc_install_config scripts over.  Just run them in order?  Sorry to clutter the issue database.

[2020-01-27 21:59] xpillons commented on #148
I would suggest you to use Azure Cloud Shell as it comes with a full working AZ CLI environment. Just clone azhpc from there, you can use "vi" or "code" as editors.

[2020-01-27 22:01] tmefford commented on #148
Thanks for the follow up.  I will try this and use that as a backup plan if this fails.

[2020-01-28 00:12] garvct commented on #148
We deviating from the original issueraised. If you still are having problems, please open another issue.

[2020-01-28 00:12] #148 closed

[2020-01-28 16:23] #121 closed

[2020-01-28 16:23] garvct commented on #121
Closed

[2020-01-30 18:15] tmefford opened #154 "Feature request/question on EDR support for FS."
The beegfs example doesn't use the IB interface.  The lustre example doesn't seem to either.   How could I get that to work for either?   I'd have to use different nodes for the beegfssm, at least.  Failing that, what is the best way to get I/O performance?  Just bump the number of instances of beegfssm?  Sorry for being a little open-ended with the question.   Suggestions appreciated.

Thank you

[2020-01-31 14:41] xpillons commented on #154
the only VM supporting IB are our HPC skus which are not design for high density storage. If you want, you can use these for lustre so that your compute and storage will be on the same IB fabric. What level of I/O performance are you looking for ?

[2020-01-31 15:16] garvct commented on #154
Please consult the following blog post for tips on tuning beeGFS/BeeOND on Azure.
https://techcommunity.microsoft.com/t5/azurecat/tuning-beegfs-and-beeond-on-azure-for-specific-i-o-patterns/ba-p/1015446

[2020-01-31 19:13] tmefford commented on #154
Thanks for the replies.  I'm not an I/O expert.  I don't have a quantifiable performance target, I only know that even single node runs are way worse on the BeeGFS filesystem than on local SSD.  Using an HPC SKU for lustre seems to make sense, but I don't know what i would need to do to make it use the IB interface.   If I don't go the IB route, what would you expect the best performing azurehpc f

[2020-02-04 15:56] edwardsp commented on #154
You can actually use the local disks in the HPC VMs but it will probably be a fairly expensive way to create a parallel filesystem (since the disks are only 700GiB per VM).  You would just need to make sure you use /dev/sdb when calling the lfsmaster and lfsoss scripts in the install section.  This would then allow you to use the IB network.  But, if you want compute on that same network you will

[2020-02-04 17:16] tmefford commented on #154
I’m not independently measuring disk performance, but trying to run a performance benchmark on a cluster.  My reason for thinking I need better performance is simply that a single node run done on the BeeGFS filesystem I initially set up performed much worse than one run from a localdisk.  (And the multinode runs were correspondingly bad).  So, I will try a Lustre filesystem and want to try to mak

[2020-02-04 19:34] tmefford commented on #154
Super simple question--How would I alter this to get two non-OS SSDs per compute node?

        "compute": {
            "type": "vmss",
            "vm_type": "Standard_HB60rs",
            "accelerated_networking": false,
            "instances": 2,
            "image": "variables.hpcimage",
            "subnet": "compute",
            "tags": [
                "disable-selinux",

[2020-02-05 08:12] edwardsp commented on #154
Hi Tim,

You can just add:

[code]
The "storage_sku" is the type of storage and the "data_disks" are a list of disks to add (if disk size is less than 4096 it will use caching provided the VM type supports it).  For the above it is premium SSD.  But, please rememeber, these SSDs are not inside the physical VM.  There is still a latency.

Best regards,
Paul

[2020-02-17 19:02] tbugfinder opened #167 "ib0 ip address setup"
Hi,
I'm wondering if there's a common module for setup of the ib0 interface esp. for SR-IOV vm types.

Thanks.

[2020-02-17 22:24] garvct commented on #167
If you use the Azure Marketplace image CentOS-HPC 7.6 or 7.7 (preferred), it will come with Mellanox OFED drivers installed and a number of MPI libraries will be preinstalled (openmpi, hpcx, intel mpi and mvapich2). This works well with HPC VM's like HB, HC and HBv2 (all support InfiniBand via SRIOV). You can access the different mpi libraries with module commands (use "module av" to see what mpi

[2020-02-19 19:31] tbugfinder commented on #167
I'm using CentOS-HPC 7.7 however I don't see an ib0 interface. What do I miss here?

[2020-02-19 20:04] chadnar2 commented on #167
It would be interesting to see if the device shows up. Are you able to get output from running 'lspci |grep -i Mell' ? I assume already that 'ifconfig' does not show the ib0. This may help determine if it's a software issue.

[2020-02-19 20:44] xpillons commented on #167
On which VM size are you running ?

From: tbugfinder <notifications@github.com>
Sent: mercredi 19 février 2020 20:32
To: Azure/azurehpc <azurehpc@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [Azure/azurehpc] ib0 ip address setup (#167)

I'm using CentOS-HPC 7.7 however I don't see an ib0 interface. What do I miss here?

—
You are receiving this because you are su

[2020-02-19 20:52] tbugfinder commented on #167
This is HB60rs:
]# lspci
0000:00:00.0 Host bridge: Intel Corporation 440BX/ZX/DX - 82443BX/ZX/DX Host bridge (AGP disabled) (rev 03)
0000:00:07.0 ISA bridge: Intel Corporation 82371AB/EB/MB PIIX4 ISA (rev 01)
0000:00:07.1 IDE interface: Intel Corporation 82371AB/EB/MB PIIX4 IDE (rev 01)
0000:00:07.3 Bridge: Intel Corporation 82371AB/EB/MB PIIX4 ACPI (rev 02)
0000:00:08.0 VGA compatible controller:

[2020-02-19 22:03] chadnar2 commented on #167
So the InfiniBand card is present. Does 'lsmod |grep ib' show the InfiniBand modules are loaded?

[2020-02-19 22:40] tbugfinder commented on #167
This is on Standard_NC24rs_v3:
[code]

lsmod:
[code]

[2020-02-20 08:53] AlexandreJean opened #171 "Error when trying to access script not referred by tags in config.json"
Hello,

I report the following "bugs/behavior" of the az-build.
I have the following description in my config.json with only 2 tags loginnode and disable-selinux:
...
    "resources": {
        "jumpbox": {
            "type": "vm",
            "vm_type": "Standard_D4s_v3",
            "accelerated_networking": true,
            "public_ip": true,
            "image": "variables.hpc_image",

[2020-02-20 22:31] tbugfinder commented on #167
I switched to HC44rs sku and ib0 has an IP address.

[2020-02-29 04:04] jedbrown opened #174 "Autoscaling configuration"
Has someone worked out how to configure an autoscaling cluster that can use up to N compute instances (spun up when submitting with `qsub` and automatically spun down upon completion)? It looks like all the examples are demonstrating one-off bigger jobs rather than an on-demand service for a small group with testing/debugging needs (which I think has a substantial audience among researchers and op

[2020-03-05 10:19] AlexandreJean opened #178 "Allow creating multiple VNETs within a single az-build"
Hello,

In order to prepare the deployment of resources inside multiple VNET, it would be useful through the config JSON file to create multiple VNETs and tag after in the resource field which VNET we can assign to the VM or services for example.
Like this, we should be able to
1) Create the network infrastructure
2) Create resources inside the network
etc
Thanks,
Alex

[2020-03-05 10:43] xpillons commented on #174
Thank you for your feedback. As of today, autoscaling is not implemented in azhpc, it does thru CycleCloud which can also be deployed thru azhpc. There will be certainly enhancements done in the futur.

[2020-03-05 10:43] #174 closed

[2020-04-03 07:37] xpillons opened #196 "Don't create a VNET when reusing an existing one"
When specifying an existing VNET in another resource group that same VNET is also created in the deployed Resource Group while VMs are well attached to the right VNET in the other RG.

[2020-04-03 17:57] #196 closed

[2020-04-07 12:46] xpillons opened #207 "Dont overwrite auto_netappfiles_mount.sh if no ANF resources are in the config file"
The script auto_netappfiles_mount.sh is always overwritten even when no ANF resources are used. It means that you can't reused that script in other config file and chain deployments.

A typical scenario would be to
 * Create ANF with config file 1
 * Build resources that mount ANF with config file 2

[2020-04-08 14:22] edwardsp commented on #207
resolve with #208

[2020-04-08 14:22] #207 closed

[2020-04-08 17:29] xpillons opened #213 "Do not regenerate a DNS name for existing resources"
When deploying the same VM several times, each time a new unique DNS is created, which make impossible chaining config files and deployment when refering to FQDN.
This makes cycle-CLI unusable for example.

[2020-04-09 11:27] xpillons opened #217 "Allow NSG to be set"
NSG are not set as part of an azhpc deployment, so you have to use local script to do so, however if you rerun your deployment, then the NSG is lost and you have to rerun your local script again.

[2020-04-09 13:31] edwardsp commented on #217
An NSG is added if you use a public IP (not configurable though)

[2020-04-16 07:10] xpillons opened #221 "Default disk to Premium_LRS not compatible with VM size in config files"
With the latest update that default the OS and Data disks SKU to Premium_LRS there are VM size not supporting this settings in existing example config files. As a result these deployment failed.

[2020-04-16 10:15] xpillons opened #222 "azhpc-build doesn't failed in case of failure in 00_install_node_setup.sh"
testing RHEL 7.7 it appears that the build command doesn't failed in case of failures when executing script 00_install_node_setup.sh

[1] 10:09:49 [SUCCESS] headnode
[2] 10:09:50 [FAILURE] lustre000003 Exited with error code 127
[3] 10:09:50 [FAILURE] lustre000000 Exited with error code 127
[1] 10:09:50 [FAILURE] lustre000003 Exited with error code 127
[2] 10:09:50 [FAILURE] lustre000000 Exited wi

[2020-04-16 11:00] xpillons opened #223 "$tmp_dir not set in 00_install_node_setup.sh"
$tmp_dir is used in the 00_install_node_setup.sh but never set
This variable is used in this line
prsync -p 50 -a -h hostlists/$tag ~/$tmp_dir ~ >> install/00_install_node_setup.log 2>&1

Is that expected to be empty or is there any missing args ?

[2020-04-16 13:32] garvct commented on #221
Do you know which examples are failing?

[2020-04-16 13:42] xpillons commented on #221
beegfs_local_ssd is one of these failing. Found last night the pipelines

[2020-04-16 13:44] garvct commented on #221
Thanks will look at that now.

[2020-04-16 13:56] edwardsp commented on #223
fix pushed to master

[2020-04-16 13:56] #223 closed

[2020-04-16 17:42] #222 closed

[2020-04-16 17:42] edwardsp commented on #222
Resolved by install rsync on all linux VMs

[2020-04-16 17:43] edwardsp commented on #221
@garvct now we know why we only had standard SSD as the default ;-)

[2020-04-16 17:47] garvct commented on #221
Also demonstrates why we need automated pipeline tests running and they should run before a PR is accepted (so we can catch these errors before PR gets merged into master)

[2020-04-21 10:54] xpillons opened #232 "Error message not retrieved correctly"
[2020-04-21 10:39:33] error: Provisioning failed
  Resource : rgs01 - ResourceDeploymentFailure
  Message  : The resource operation completed with terminal provisioning
             state 'Failed'.
Traceback (most recent call last):
  File "/home/xavier/azurehpc/pyazhpc/azhpc.py", line 625, in <module>
    args.func(args)
  File "/home/xavier/azurehpc/pyazhpc/azhpc.py", line 407, in do_build
    d

[2020-04-21 16:21] #221 closed

[2020-04-21 16:37] tbugfinder opened #235 "question: deploy cycleserver into defined vnet"
Hello,

I'm wondering how to skip the creating of the vnet and subnet while having pre-defined subnets available for the CycleServer deployment.
https://github.com/Azure/azurehpc/blob/master/examples/cycleserver/readme.md

Thanks for you guidance.

[2020-04-21 17:29] xpillons commented on #235
If in your network section you specify a resource_group which is different from the one you deploy your resources, then that vnet will be reused. I'm in the process of rewriting the doc that explains it, should be pushed soon.

[2020-04-21 18:03] tbugfinder commented on #235
Thank you, in my case Cycleserver has to be deployed to a pre-created resource group and make use of a vnet and subnet within a different resource group.

[2020-04-22 07:11] xpillons commented on #235
So you should be all good then. Can you please validate you have been able to do your deployment ?

[2020-04-22 09:09] dazzag24 opened #236 "'openmpi@4.0.2 ^autoconf ^automake ^gdbm ^hwloc@:1.999 ^libtool ^m4@1.4.6: ^ncurses ^numactl ^perl ^pkgconf ^readline ^zlib@1.2.5:' is configured as not buildable, and no matching external installs were found"
Hi,

I'm trying to compile WRF using this script:

azurehpc/apps/wrf/install_wrf_openmpi.sh

It is throwing an error on this line:

[code]

There are spack build scripts for OpenMPI in the apps directory, but these are for 4.0.1.  Do I need to install OpenMPI using these scripts first??

I tried it anyway and modified apps/openmpi/build_4.0_cxx.sh to build 4.0.2 but that failed due to issues with

[2020-04-22 09:43] dazzag24 commented on #236
Closing this because the install_wrf_openmpi.sh file has been updated since I cloned 2 days ago.  I still have issues but I'll open a new issue for that.

[2020-04-22 09:43] #236 closed

[2020-04-22 09:57] dazzag24 opened #237 "install_wrf_openmpi.sh FAILS"
Running the script like this:

`SHARED_APP=$HOME/apps  SKU_TYPE=HBv2 ./install_wrf_openmpi.sh`

Seems to go wrong after the WRF tgz is extracted:

[code]

Full output below:

[code]

[2020-04-22 10:32] dazzag24 commented on #237
It appears that my problem was that I had duplicate entries for some of the items in Spack.

Cleaning them out with:

[code]

and then re-running the install command:

`SHARED_APP=$HOME/apps SKU_TYPE=HBv2 ./install_wps_openmpi.sh`

appears to have worked.

Darren

[2020-04-22 10:32] #237 closed

[2020-04-22 10:40] dazzag24 opened #238 "install_wps_openmpi.sh fails"
Having built WRF using install_wrf_openmpi.sh I moved onto builing WPS.

I had to modify install_wps_openmpi.sh to factor for the recent change the version 4.1.5 in install_wrf_openmpi.sh:

[code]
I then invoked it like so:

`SHARED_APP=$HOME/apps WRF_VERSION=4.1.5 SKU_TYPE=HBv2 ./install_wps_openmpi.sh`

and it gives this error:

`WPS-4.1/util/src/write_met_module.F
WPS-4.1/util/vertical_grid_38_

[2020-04-22 10:52] tbugfinder commented on #235
Is it meant like that in 02-cycleserver.json?

[code]

[2020-04-22 10:55] xpillons commented on #235
Yes, if the content of  variables.resource_group is not myazrhpcnetrg then that VNET will not be created, and if so you can remove address_prefix and subnets from the vnet definition.

[2020-04-22 11:46] tbugfinder commented on #235
I managed to get the cycleserver deployed into the given vnet/rg.

I've disabled public IP and run into an issue with the initial rsync:
[code]

IMHO, the ip address should be used for initial connection instead of the name.

[2020-04-22 12:12] xpillons commented on #235
The example for deploying Cycle Cloud has been built when the Cycle Cloud VM has a public IP. If you can to use a private only solution, then make sure that the cycleserver name can be resolved from the machine running the azhpc commands. As when there is no public IP the install_from value will be used as is.

[2020-04-22 12:23] #28 closed

[2020-04-22 13:58] dazzag24 commented on #238
See https://github.com/Azure/azurehpc/pull/239 for a proposed fix.

[2020-04-22 14:22] garvct commented on #238
Hi I updated WRF but not WPS, I will take a look and get back to you soon.

[2020-04-22 14:36] garvct commented on #238
PR #239 looks good, just need to change the WRF version default to be 4.1.5. Once this is done I will merge.

[2020-04-22 15:20] tbugfinder commented on #235
The cyclecloud installation scripts keeps creating an invalid configuration in file `"/opt/cycle_server/config/cycle_server.properties"`:
[code]

[2020-04-22 15:57] xpillons commented on #235
Does the Cycle portal can be open ? if not, try to delete that VM and rerun the azhpc-build

[2020-04-22 16:14] dazzag24 commented on #238
Hi,

I have made the change to the default WRF_VERSION.

Thanks

Darren

[2020-04-22 16:15] garvct commented on #238
Great, I have merged it into the master branch.

[2020-04-22 17:12] tbugfinder commented on #235
Well, portal opened after fixing the config. I've rebuilt the VM, CycleCloud is up & running. The NSG couldn't be created, I have to check permissions.

[2020-04-22 17:26] xpillons commented on #235
Great to hear.

[2020-04-22 17:26] #235 closed

[2020-04-22 17:27] #238 closed

[2020-04-22 18:28] tbugfinder commented on #235
thank you very much

[2020-04-27 13:41] xpillons commented on #232
Another kind of error not catch
{
  "code": "DeploymentFailed",
  "message": "At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/DeployOperations for usage details.",
  "details": [
    {
      "code": "Conflict",
      "message": "{\r\n  \"status\": \"Failed\",\r\n  \"error\": {\r\n    \"code\": \"ResourceDeploymentFailure\"

[2020-05-07 08:10] xpillons commented on #213
Fixed by #265 and #267

[2020-05-07 08:10] #213 closed

[2020-05-13 22:19] xpillons commented on #232
fixed in #274

[2020-05-13 22:19] #232 closed

[2020-05-20 11:43] lmiroslaw commented on #20
Hi Team,

I hope my issue is close to the issue topic.

I have tried to run https://github.com/Azure/azurehpc/tree/master/tutorials/cfd_workflow
with

and failed during deployment of vmss. Any suggestions how to troubleshoot?

Traceback (most recent call last):
  File "/usr/lib64/python3.6/logging/__init__.py", line 994, in emit
    msg = self.format(record)
  File "/usr/lib64/az/lib/python3.6/sit

[2020-05-20 12:27] xpillons opened #283 "tutorials/cfd_workflow failed to deploy"
azhpc-init -c ../azurehpc/tutorials/cfd_workflow -d cfd_workflow -v location=northeurope,resource_group=hpc-grundfosazhpc,win_password=xxx
and failed during deployment of vmss. Any suggestions how to troubleshoot?
Traceback (most recent call last):
File "/usr/lib64/python3.6/logging/init.py", line 994, in emit
msg = self.format(record)
File "/usr/lib64/az/lib/python3.6/site-packages/knack/log.py",

[2020-05-20 12:29] xpillons commented on #20
@lmiroslaw I've created issue #283 to track it and I'm working on it now.

[2020-05-21 08:25] xpillons commented on #283
Solved by #284

[2020-05-21 17:07] garvct opened #285 "Check for json format (azcli)"
azurehpc expects azcli will use the json format, but if you change the default format (i.e in azcli config file) to be different (e.g table or tsv) then azurehpc will not deploy and its not obvious from the error message what the problem is.

Suggestion
either check that the default azcli format  is json or explicitly set the format to json in all azcli options in azurehpc.

[2020-05-29 15:23] lmiroslaw opened #286 "Custom scripts for a jumpbox"
Hi Team,

My azhpc build command fails. Probably its a config error. Could you please give me a hint how to resolve it?

The 'install' section in my config.json looks like this:
`
"install": [
        {
            "script": "disable-selinux.sh",
            "tag": "disable-selinux",
            "sudo": true
        },
        {
            "script": "jumpbox.sh",
            "tag": "loginnode",

[2020-06-01 09:46] #283 closed

[2020-06-09 08:28] xpillons commented on #286
Is this still happening ? look for any erros in the azhpc_install_config.JumpBox/install/02_jumpbox.log file

[2020-06-09 10:39] lmiroslaw commented on #286
Thanks @xpillons. That file helped to track the problem. Apparently, the privilliges of the scripts were not set. After 'chmod +x scripts/jumpbox.sh' the pipeline converges.

[2020-06-09 10:39] #286 closed

[2020-06-16 07:48] xpillons commented on #178
Unfortunately this is not possible in the current design with ARM. However you can create a VNET in a first deployment, and then use the '--no-vnet' option in later deployment to deploy resources and not the VNET. Just keep the vnet name and RG so that it can be referenced.

[2020-06-16 07:48] #178 closed

[2020-06-16 12:53] dazzag24 opened #294 "Error with install_wps_openmpi.sh - geogrid.exe and metgrid.exe not built."
` mpif90   -o geogrid.exe cio.o wrf_debug.o bitarray_module.o constants_module.o module_stringutil.o geogrid.o gridinfo_module.o hash_module.o interp_module.o list_module.o llxy_module.o misc_definitions_module.o module_debug.o module_map_utils.o output_module.o parallel_module.o process_tile_module.o proc_point_module.o queue_module.o read_geogrid.o smooth_module.o source_data_module.o \

[2020-06-16 19:41] dazzag24 commented on #294
Turns out that the fix above was not sufficient.  I ended up having to override the MPI_LIB fix in the install_wps_openmpi.sh script itself.  See changes in my branch:

https://github.com/dazzag24/azurehpc/blob/a3b2f6b778c63997e7529825036a3821b925cbe2/apps/wrf/install_wps_openmpi.sh#L30

[2020-06-16 23:27] garvct commented on #294
Is the openmpi module being loaded correctly?

[2020-06-17 06:33] dazzag24 commented on #294
There are no errors shown.

Is it the module load command that sets the MPI_LIB env bar?

On Wed, 17 Jun 2020, 00:28 Cormac Garvey, <notifications@github.com> wrote:

[2020-06-17 09:31] dazzag24 commented on #294
[code]

So it is `module load mpi/openmpi-4.0.3` that is setting the MPI_LIB env var.

However I am not sure if it is being set to an incorrect value OR if it is the WPS configure setup that is using it incorrectly.  In any case it end up not building all of the required WPS executables.

Thanks

[2020-06-17 21:31] garvct commented on #294
Thanks for finding this build error. I took a closer look at it today. Here is the problem.
The OpenMPI modulefile set MPI_LIB to the location of its libraries. WPS used MPI_LIB
directly in its Makefiles (without a -L option) and so we see the Makefile build error. Since WPS
uses the mpi wrappers (mpif90, mpicc) it does not need MPI_LIB, because the wrappers already know the location of the openmp

[2020-06-19 12:40] lmiroslaw opened #296 "SP naming in cyclecloud deployment script"
Please impose a restriction for existing SP naming that it should not contain underscores.
Otherwise [this script](https://github.com/Azure/azurehpc/blob/master/scripts/cc_prereqs.sh)  tries to create a secret named after SP and the command fails.

`az keyvault secret show --name PoC_HPC_AzCycleCloud --vault-name nvs-poc-kv -o json
The request URI contains an invalid name: PoC_HPC_AzCycleCloud`

T

[2020-06-19 13:59] kanchanm commented on #294
closing as this was fixed with above PR. please reopen if you still hit issues.

[2020-06-19 13:59] #294 closed

[2020-06-22 08:09] xpillons commented on #296
Thank you @lmiroslaw for the feedback. we will see how much we can improve the naming convention testing. There will be soon (few days from now) a new version for installing cycle with Managed identity which will simplify this.

[2020-06-25 14:11] xpillons opened #307 "azhpc-build failed with CC CLI 8"
azhpc-build will failed to upload a CC project with that error :
**** Error: Unexpected command failure: name 'file' is not defined
This is occuring with version 8.0.0-1023~preview
This is a know error in that preview and can be locally fixed by editing the $HOME/.cycle/cli/lib/python3.6/site-packages/projects/config.py and changing line 163 from
`with file(config_file_path, "w") as f:`
to
`with o

[2020-07-01 13:09] xpillons opened #317 "cannot set a zone on a VM with a public IP"
setting a zone and a public IP makes the ARM deployment to fail with that error
Compute resource /subscriptions/f5a67d06-2d09-4090-91cc-e329
 8907a021/resourceGroups/azhpc-4babec/providers/Microsoft.Com
 pute/virtualMachines/disknode has a zone constraint 2 but
 the PublicIPAddress /subscriptions/f5a67d06-2d09-4090-91cc-e
 3298907a021/resourceGroups/azhpc-4babec/providers/Microsoft.
 Network/publi

[2020-07-02 07:46] #317 closed

[2020-07-03 09:01] edwardsp commented on #285
this should be fixed now @garvct

[2020-07-09 13:05] edwardsp commented on #285
closing as this should be fixed

[2020-07-09 13:05] #285 closed

[2020-07-09 13:09] edwardsp commented on #122
I'm sure you will have done this by now since I am replying so late but to increase the size of the mesh you can increase the block mesh dimensions.  Here was the original benchmark that I did when at Intel with a table of blockmesh sizes to end mesh sizes - https://github.com/OpenFOAM/OpenFOAM-Intel/tree/master/benchmarks/motorbike.

I'll close this issue now (although if you still need more help

[2020-07-09 13:09] #122 closed

[2020-07-09 13:11] edwardsp commented on #171
This was fixed a while ago.  I'll close now but let me know if you still have problems.

[2020-07-09 13:11] #171 closed

[2020-07-09 13:13] edwardsp commented on #167
Closing this issue now although please reopen if you still have any problems

[2020-07-09 13:13] #167 closed

[2020-07-31 19:51] tbugfinder commented on #296
What's the meaning, restriction or feature of using managed identity?

[2020-08-16 18:53] jithinjosepkl opened #346 "azhpc-resize deprecated?"
Is azhpc-resize deprecated now? Do we have an alternative command to scale up/down cluster?

[2020-09-01 13:48] #18 closed

[2020-09-14 23:39] Smahane opened #366 "BadRequest error creating a GPU VM instance"
Hello,
I'm using this [config.json](https://github.com/Azure/azurehpc/tree/master/examples/nvidia) file to create a base VM for a GPU cluster but i'm getting a BadRequest and it just never finishes and i have to kill it. Any help please?

This is how i initiate it without changing anything in the config.json file:
`azhpc-init -c ../azurehpc/examples/nvidia -d nvidia -v resource_group=smahane-gpu,v

[2020-09-15 06:51] xpillons commented on #366
@Smahane do you have quota for ND40rs_v2 in eastus ? you can check it from the portal. If not fill up a support request to increase your quota.
I guess you made a typo when you paste the init command as it's missing an s to eastus.

[2020-09-15 13:19] Smahane commented on #366
Hello @xpillons ,
I do have up to 16 nodes quota limit in this region for ND40rs_v2. Also, the missing s was just when i pasted here the command.
I'm still getting the same "badRequest" error

Anyway to debug this issue? I ran azhpc buid --debug but the output was not helpful.

[2020-09-15 13:26] xpillons commented on #366
Thanks for checking. One way of troubleshooting is to look at the deployemnt et the resource group from the azure portal. I think this can come from the fact that ND40rs_v2 need Gen2 images, and the default configuration file is using a Gen1 image. You may use image `OpenLogic:CentOS:7_7-gen2:latest` instead.

[2020-09-15 14:00] Smahane commented on #366
@xpillons  using gen2 solved he problem. thank you.

How do i get the correct image id i just created now please?
I need to use it to create an hpc cluster of ND40rs_v2 compute nodes. I will be using this image i created here in this [config.json](https://github.com/Azure/azurehpc/blob/master/examples/beegfs_local_ssd/config.json). is that the recommended way to create a GPU cluster with the Mella

[2020-09-15 14:03] xpillons commented on #366
@Smahane great to hear.
You should capture that image, look at the **image** example on how to create a VM and capture an image. I suggest that now that you have a GPU node, create a separate config file to capture that image based on that example.

[2020-09-15 14:15] Smahane commented on #366
@xpillons the image examples are very helpful. however, i still need to replace the variables below in the config.json with the GPU image i just created. How do i get these values?

hpc_image": "OpenLogic:CentOS-HPC:7.7:latest",
        "image": "OpenLogic:CentOS:7.7:latest",

[2020-09-15 14:17] Smahane commented on #366
I'm trying  `az vm image list --offer Centos -p OpenLogic --output table --all`  but i don't see the image i created here. I tried my user name as the publisher bu it didn't work

[2020-09-15 14:20] xpillons commented on #366
you haven't created a GPU image, unless you have captured it manually outside of azhpc.
If you haven't captured your GPU VM into an image the image example will show you how to do it, but as it does the deployment of a VM to capture it you will have to remove all the resource part to just capture the image. Or you can do a capture from the portal.

Then to use an image from an azurehpc config file

[2020-09-15 15:47] xpillons opened #368 "deployment is not failing in case of a badRequest returned by the ARM deployment"
the badRequest error code when deploying resources doesn't end the deployemnt until it's timeout.
Below is one example of this kind of failure.
[code]

[2020-09-15 17:11] Smahane commented on #366
@xpillons  in the nvidia [config.json](https://github.com/Azure/azurehpc/blob/master/examples/nvidia/config.json)  , I added:

[code]
The intention was to create a GPU VM and an image but i got this error:
[code]
I will just be capturing the image via the web portal but it would be nice to get this working.

[2020-09-15 17:12] Smahane commented on #366
Also,
-  is there a way to stop/start the cluster and preserve the settings (ssh connection, shared directories ...)?
- Can i resize the cluster (number of nodes)?
Thank you

[2020-09-15 17:20] xpillons commented on #366
you have to match the parameters of the config you have added to your environment.
So you need to :

- add the "deprovision" tag to the gpumaster resource
- add the missing variables for image_name and image_resource_group if not done
- use gpumaster instead of master in the 2nd parameter of the create_image script

[2020-09-15 17:22] xpillons commented on #366
no this is not the scenario, but once you have captured an image and if you keep it in another resource group, you can remove the resource group containing all your cluster and rebuild it with azhpc.
for resize scenarios this is possible with SLURM, or you may want to use CycleCloud

[2020-09-15 17:22] #217 closed

[2020-09-15 17:23] #307 closed

[2020-09-15 18:47] Smahane commented on #366
@xpillons do  you see anything wrong with my config.json please?
[config.txt](https://github.com/Azure/azurehpc/files/5227096/config.txt)

I'm getting this error:

[2020-09-15 18:26:31] Provising succeeded
[2020-09-15 18:26:31] re-evaluating the config
[2020-09-15 18:26:31] building host lists
[2020-09-15 18:26:31] building install scripts
[2020-09-15 18:26:35] Step 00 : install_node_setup.sh (jum

[2020-09-15 18:48] Smahane commented on #346
I'm curious as well.

[2020-09-16 11:44] xpillons commented on #366
@Smahane I've found the issue, it's because in the create image script the hyper-v generation value should be set to v2. I'm working on a fix to automatically detect that, i will let you know once done.

[2020-09-16 12:06] xpillons commented on #366
@Smahane please try on the gpu_gen2 branch after pulling it from the repo

[2020-09-16 12:43] xpillons commented on #346
right now it is deprecated. to scale up/down clusters, use SLURM for which we have implemented the resume/start commands. We are evaluating how much effort and value to enable this scenario for PBS as well.

[2020-09-16 12:43] #346 closed

[2020-09-16 12:44] xpillons commented on #296
@tbugfinder managed identity is simpler to use, the curent restriction is that resources will be deployed in the same resource group.

[2020-09-16 15:25] xpillons commented on #368
fixed by #372

[2020-09-16 15:25] #368 closed

[2020-09-16 21:48] Smahane opened #374 "The script doesn't create a correct Standard_HC44rs cluster with Mellanox EDR InfiniBand"
I need to run HPC applications (like LAMMPS) on a high bandwidth  but the cluster doesn't seems to be configured correctly.

**Describe the bug**
- Mpi is not picking up Mellanox
- LAMMPS doesn't scale as expected (lower performance over tcp)

**To Reproduce**
Steps to reproduce the behavior:
1. create a cluster using this config.json
[mlx-fail.config.txt](https://github.com/Azure/azurehpc/files/5

[2020-09-16 22:15] jithinjosepkl commented on #374
AN (Accelerated networking) is not available for HC. Please set `"accelerated_networking": false` for HC

[2020-09-16 22:17] Smahane commented on #374
@jithinjosepkl  in the config file i shared? Will that fix the interconnect issue?

[2020-09-16 22:25] jithinjosepkl commented on #374
Please follow this [article](https://techcommunity.microsoft.com/t5/azure-compute/intelmpi-2019-on-azure-hpc-clusters/ba-p/1403149) to make IMPI pick the mlx provider.

Next update of CentOS HPC images will include IMPI 2019-U8, where you don't have to specify this environment parameter (picks up mlx provider by default).

[2020-09-16 22:34] Smahane commented on #374
@jithinjosepkl **I would appreciate a working scenario as the cost is getting very high without us getting a job ran correctly.
I'm interested in Standard_HC44rs cluster with Mellanox and Gen2 VM**

 surprisingly the  OpenLogic:CentOS:7_7-gen2:latest image didn't come with any IMPI installed (It sounds like it get overridden maybe via the azurehpc scripts?). So i had to install IMPI manually .

Wh

[2020-09-16 23:05] garvct commented on #374
The CentOS images do not contain any pre-installed OFED drivers and mpi libraries (including Intel MPI), try using the CentOS-HPC images instead (e.g OpenLogic:CentOS-HPC:7_7-gen2:latest). The CentOS-HPC images should be ready to go if you want to use Infiniband.

[2020-09-16 23:07] Smahane commented on #374
@garvct  I'm already using OpenLogic:CentOS-HPC:7_7-gen2:latest image. Please see my original post

[2020-09-16 23:20] jithinjosepkl commented on #374
@Smahane , based on your config file, you are using OpenLogic:CentOS:7_7-gen2:latest.
`        "hpc_image": "OpenLogic:CentOS:7_7-gen2:latest",`

You need OpenLogic:CentOS-**HPC**:7_7-gen2:latest image instead for the MPIs to be pre-installed.

[2020-09-16 23:29] garvct commented on #374
Once you sort out your image, you can execute the IMB-MPI1 benchmark using the scripts in azurehpc/apps/imb-mpi. Examples of running IMB-MPI1 with different MPI libraries are provided.

[2020-09-17 01:16] Smahane commented on #374
@garvct and @jithinjosepkl thank you for pointing me out of this HPC image.
- Should headnode have this image too?
- Should I still set "accelerated_networking": false" ? And what does it mean?
- any instructions of how to add my own post installation script to the config file?

[2020-09-17 06:54] xpillons commented on #374
@Smahane

- The Headnode can have the HPC image too
- Accelerated Networking is offloading TCP and will boost the frontend NIC, but is not available on all VM SKUs. See the public documentation [here](https://docs.microsoft.com/en-us/azure/virtual-network/create-vm-accelerated-networking-cli)
- You can add your own scripts by
   - Adding your scripts in the scripts directory where your config file

[2020-09-17 06:55] xpillons commented on #366
@Smahane can you please confirm this is solved ?

[2020-09-17 07:36] xpillons commented on #296
no more need for SPN now that Managed Identity is supported.

[2020-09-17 07:36] #296 closed

[2020-09-17 15:26] Smahane commented on #366
@xpillons  I tested this in the gpu_gen2 and it worked. Thank you very much!

[2020-09-17 17:47] Smahane commented on #366
Hello @xpillons , when i create a cluster with the image i generated above, i get the error below. Any idea please?

[code]

[2020-09-18 07:54] xpillons commented on #366
@Smahane can you please check the content of the azhpc_install_config/install/11_node_healthchecks.log please ? you may have a bad node.
If so as you reached the last step, you can either discard this node if you need less of them for your tests, or destroy and redeploy the cluster.

[2020-09-18 11:48] Smahane commented on #366
@xpillons i already deleted and recreated the cluster and it failed again in node_healthchecks.sh script.  Also,  what was created was not fully setup (at least nfs wasn't working)

[2020-09-18 11:49] Smahane commented on #374
This worked.  Thank you everyone

[2020-09-18 11:49] #374 closed

[2020-09-18 11:59] xpillons commented on #366
@Smahane I think that you can remove that script as I don't think he can handle GPU nodes corectly.

[2020-09-21 07:54] xpillons commented on #366
@Smahane I've fixed that script to not failed in case of unknown VM Size. You should be fine to use the latest master update.

[2020-09-22 17:10] Smahane commented on #374
Hello @xpillons @garvct and @jithinjosepkl . I ran LAMMPS on up to 8 nodes Standard_HC44rs but I'm having performance issues at 8 nodes:

![image](https://user-images.githubusercontent.com/5471356/93914375-5007e500-fcbb-11ea-9ef9-6801c65ebb8f.png)

I think one or more nodes are bad. Do you know of any smoke test or script that can help me check the nodes and detect which one is not working well?

[2020-09-23 07:59] xpillons commented on #374
@Smahane you can use the MPI PingPong test, we have an example here https://github.com/Azure/azurehpc/tree/master/apps/imb-mpi

[2020-10-05 23:46] Smahane commented on #366
Thank you for the fix. I haven't tested but closing this issue for now.

[2020-10-05 23:46] #366 closed

[2020-10-13 22:43] Smahane opened #394 "azhpc-scp fails to copy folder"
the command fails to copy folders with the recursive option.
[code]
Thank you,

[2020-10-13 23:13] garvct commented on #394
Does the following syntax work?

azhpc-scp -- -r $azhpc_dir/apps/imb-mpi  hpcuser@headnode:.

[2020-10-14 00:02] Smahane commented on #394
Yes it worked. thanks for pointing that out

[2020-10-14 00:02] #394 closed

[2020-11-10 06:28] Smahane opened #414 "the create_image.sh script fails"
I'm trying to create a base image but it fails with this error:

[code]

This is the log file:
[10_create_image.log](https://github.com/Azure/azurehpc/files/5515270/10_create_image.log)

Any idea please?

Thank you

[2020-11-10 10:30] xpillons commented on #414
Please add JQ on the local environment running azhpc

[2020-11-11 00:29] #414 closed

[2020-11-11 06:00] Smahane opened #415 "beegfspkgs.sh fails to install"
Hello,
I need to setup a beegfs in the cluster and it fails due to some dependencies :

[code]

Here is the log file.
[02_beegfspkgs.log](https://github.com/Azure/azurehpc/files/5522051/02_beegfspkgs.log)

Any help please? Thank you

[2020-11-11 17:01] garvct commented on #415
The error above seems to be related to accessing your headnode with ssh. (Maybe a glitch with name resolution?)

I would suggest you try either of the following options.

-  login to your headnode (e.g azhpc-connect headnode) and try to manually run the failed script (e.g beegfspkgs.sh) (on headnode , cd az*/install and ./*beegfspkgs.sh

-  Try to re-run the failed install script step (e.g run_ins

[2020-11-11 19:09] garvct commented on #415
Also, please clarify what OS you are using? I tested on OpenLogic:CentOS-HPC:7.7:7.7.2020062600

Thanks.

[2020-11-11 19:30] Smahane commented on #415
@garvct  I'm using a base image that i built on top of OpenLogic:CentOS:7_7-gen2:latest

[2020-11-11 19:34] Smahane commented on #415
@garvct  i created a cluster without the beegfs and installed manually all what i needed on one compute node. But i realized i can't create an image from the compute node since it's considered a "Scale set instance" and not a VM. Do you know if there is a way around that?

[2020-11-11 20:05] garvct commented on #415
Thanks for clarification regarding the OS version version you are using (I have not tested that version but I suspect you will need to use an older version (not latest), with MODEF < 5.1). I Will run some tests to verify.

I am not aware of a way to create a custom image from a vmss instance. (Sorry).  You could create a script containing what you manually installed on a vmss instance and then exe

[2020-11-11 21:41] garvct commented on #415
I was able to successfully deploy BeeGFS on OpenLogic:CentOS:7_7-gen2:latest

[2020-11-11 14:30:52] deploying arm template
headnode        Microsoft.Compute/virtualMachines               OK
headnode_nic    Microsoft.Network/networkInterfaces             Created
beegfsm         Microsoft.Compute/virtualMachines               OK
compute         Microsoft.Compute/virtualMachineScaleSets       OK
beeg

[2020-11-17 15:18] xpillons commented on #415
@Smahane can you please give an update. Are you still blocked ?

[2020-11-17 17:21] Smahane commented on #415
@xpillons yes i still couldn't get it to work with OpenLogic:CentOS-HPC:7_7-gen2:latest
I moved on by creating a cluster with out it.
Thanks,

[2020-11-30 22:54] souvik-de opened #425 "Cannot create a cluster from CentOS HPC 8.1 Internal VHD"
**Describe the bug**
"azhpc-builld" fails at pbsserver.sh (step 09) when trying to create a cluster from an Internal CentOS 8.1 HPC VHD. Observation drawn from multiple attempts.

**To Reproduce**
Steps to reproduce the behavior:
1. Download VHD to a storage account and create an Image.
2. Use the resource (image) in azhpc scripts to deploy a cluster

**Expected behavior**
1. Deployment should be

[2020-12-01 01:25] souvik-de commented on #425
I don't think that this is specifically for the internal image but 8.1 in general

[2020-12-02 14:35] xpillons commented on #425
Thank you for raising this issue. As of today we don't support CentOS 8.1. In the meantime, you can copy the pbsserver.sh script in your own scripts directory and update it for 8.1. You may want to use PBS 20 as 19 doesn't support 8.1.

[2020-12-07 09:12] hmeiland opened #426 "[bug] marker file can not be created during/after deprovision script"
While running the image create example, a marker is being created for each script step; however, after deprovision of the node, the /home/hpcadmin has been cleaned and is no longer available... a solution may be to always succeed on the touching of the marker...

[2020-12-15 12:04] #426 closed

[2020-12-16 01:33] vermagit opened #433 "parser_fio.sh"
Not sure if the format of the output produced by fio has changed, but parser_fio.sh does not seem to be picking up the right fields for the jq parsing.

**To Reproduce**
Steps to reproduce the behavior:
1. sudo yum install fio (HC, CentOS-HPC 8.1)
2. See sample output file produced by a variation of fio.pbs. Line of interest is as follows:
   READ: bw=611MiB/s (641MB/s), 611MiB/s-611MiB/s (641MB/s

[2020-12-16 08:50] xpillons commented on #433
@vermagit is this specific to CentOS 8.1 ?

[2020-12-16 16:31] vermagit commented on #433
This should not be specific to 8.1, but I'd guess specific to the fio-3.19 version maybe. I can share sample output files being written since that is the source of the discrepancy as the parser seems to be expecting a different format.

[2020-12-16 23:36] garvct commented on #433
I think if may be easier to use the fio **--output-format=json** to specify you want fio output in json format directly and then parse that file.
e.g to extract fio File size, Block size, numjobs and read BW

jq '.jobs[]."job options".size,.jobs[]."job options".bs,.jobs[]."job options".numjobs,.jobs[].read.bw' fio_output.json
"2G"
"4M"
"4"
2616533

[2020-12-17 08:15] xpillons commented on #433
good suggestion @garvct , @vermagit please feel free to contribute via a PR

[2020-12-21 18:17] brsiglar opened #436 "[bug]anf-full pipeline time out on deployment"
**Describe the bug**
Running anf-full pipeline, there is an issue with step 0 timing out.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://azurecat.visualstudio.com/hpccat/_build?definitionId=287&_a=summary'
2. Click on 'Run Pipeline'
3. Scroll down to 'Build Cluster'
4. Time out "[2020-12-21 17:43:04] Step 00 : install_node_setup.sh (jumpbox_script)"

**Expected behavior**
A c

[2020-12-22 08:41] xpillons commented on #436
It happens too here https://azurecat.visualstudio.com/hpccat/_build/results?buildId=10304&view=logs&j=6e4f1cc6-8050-5bf9-8495-3efafd6ef526&t=d55b938c-7420-5d64-4f01-a655a6be2261&l=733
Seems to be an infinite loop when applying the step00.

[2020-12-23 15:02] xpillons commented on #436
Closed by #437

[2020-12-23 15:02] #436 closed

[2020-12-23 15:02] #415 closed

[2020-12-29 15:51] bmoxon opened #438 "cc timeout in cc_anf: cycle_start_cluster.sh"
https://azurecat.visualstudio.com/hpccat/_build/results?buildId=10356&view=logs&j=6e4f1cc6-8050-5bf9-8495-3efafd6ef526&t=02c4ec7d-6fd1-55ff-e3bf-c3487fccf8a6&l=55

Timeout in /bin/bash /azp/agent/_work/_temp/azureclitaskscript1609028605601.sh
Last script breadcrumb "apps/ci/cycle_start_cluster.sh pbscycle"

[2021-01-04 09:11] xpillons opened #439 "ANF #20210102.1 Pipeline failure"
https://azurecat.visualstudio.com/hpccat/_build/results?buildId=10382&view=logs&j=6e4f1cc6-8050-5bf9-8495-3efafd6ef526&t=d55b938c-7420-5d64-4f01-a655a6be2261&l=719

  Resource : hpcnetapp/anfpool/anfvol1 - InternalServerError
  Message  : Error when creating - VLAN conflict in storage server -
             please contact support
             additionalInfo: None
             code: NetworkAllocatio

[2021-01-04 09:34] xpillons opened #440 "CC_ANF #20210102.1 Pipeline Failure"
Resource : anf479feb/anfpool479feb/data479feb - InternalServerError
  Message  : Error when creating - VLAN conflict in storage server -
             please contact support
             additionalInfo: None
             code: NetworkAllocationFailed
             details: None
             message: Error when creating - VLAN conflict in storage server -
             please contact support

[2021-01-04 09:44] xpillons opened #441 "NVIDIA Pipeline Failure"
- rsync connection refused for ND40rs_v2 and Gen2 image https://azurecat.visualstudio.com/hpccat/_build/results?buildId=10393&view=logs&j=55fc7d3f-746a-55f6-bb80-32903d2b68f6&t=c44d176c-8c9a-532a-3ce7-9ebfde9ffc60&l=388

- ssh connection timeout for Standard_NV12s_v3 and Gen1 image. Timeout is after updating the kernel, LIS is not installed.

[2021-01-04 09:53] xpillons opened #442 "ANF_FULL #20210102.1 pipeline failed"
Resource : hpccatnetappfull/anfpool/uniquevolumename - InternalServerError
  Message  : Error when creating - VLAN conflict in storage server -
             please contact support
             additionalInfo: None
             code: NetworkAllocationFailed
             details: None
             message: Error when creating - VLAN conflict in storage server -
             please contact support

[2021-01-04 09:57] xpillons opened #443 "BEEGFS_LOCAL_SSF #20210102.1 pipeline failure"
stderr=ssh: Could not resolve hostname headnodeb8667c.southcentralus.cloudapp.azure.com: Temporary failure in name resolution

https://azurecat.visualstudio.com/hpccat/_build/results?buildId=10405&view=logs&j=6e4f1cc6-8050-5bf9-8495-3efafd6ef526&t=d55b938c-7420-5d64-4f01-a655a6be2261&l=626

[2021-01-04 10:16] xpillons opened #444 "Tag resource group with the pipeline name"

[2021-01-04 16:41] xpillons commented on #444
Closed by PR #445

[2021-01-04 16:41] #444 closed

[2021-01-04 17:17] xpillons commented on #443
Manually reran and passed

[2021-01-04 17:17] #443 closed

[2021-01-04 17:17] xpillons commented on #439
manually reran and passed

[2021-01-04 17:17] #439 closed

[2021-01-04 17:31] xpillons commented on #442
manually reran and passed

[2021-01-04 17:31] #442 closed

[2021-01-04 17:54] xpillons commented on #440
Manually reran and hit bug #438

[2021-01-04 17:54] #440 closed

[2021-01-04 17:55] xpillons commented on #441
Manually reran the pipeline. Gen2 passed.
Gen1 failed with error
  Resource : gpumaster - OSProvisioningTimedOut
  Message  : OS Provisioning for VM 'gpumaster' did not finish in the
             allotted time. The VM may still finish provisioning
             successfully. Please check provisioning state later. For
             details on how to check current provisioning state of
             Wi

[2021-01-04 19:21] xpillons commented on #438
Closed by PR #446
Fixing wrong external NFS options in CC template

[2021-01-04 19:21] #438 closed

[2021-01-11 14:23] cperi opened #448 "[bug] Pipeline image creation failed - BuildCluster Gen#1, BuildCluster Gen#2"
Failure in step#4 due to  hyperv version generation not passed as argument,

https://azurecat.visualstudio.com/hpccat/_build/results?buildId=10447&view=logs&j=40a7dfaa-edcf-57d7-da50-33204f1e0241&t=eef1fa0f-de1b-545a-8af2-256fc8a5c4c1

[2021-01-11 14:27] cperi opened #449 "[bug] Slum_autoscale pipeline failed with headnode connnection refused."
Pipeline build resources failed -
https://azurecat.visualstudio.com/hpccat/_build/results?buildId=10436&view=logs&j=6e4f1cc6-8050-5bf9-8495-3efafd6ef526&t=d55b938c-7420-5d64-4f01-a655a6be2261

[2021-01-10 00:13:36] building install scripts
[2021-01-10 00:13:38] error: invalid returncode
    args=['rsync', '-a', '-e', 'ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -i hpcadmin_id_r

[2021-01-11 14:30] cperi opened #450 "[bug] cc_anf pipeline failed with provisioning failed (InternalServerError)"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Configuration (please complete the f

[2021-01-11 14:51] cperi commented on #450
This one passed when I run manually.

[2021-01-11 14:51] #450 closed

[2021-01-12 12:33] #448 closed

[2021-01-12 15:31] xpillons commented on #449
Closed by PR #452

[2021-01-12 15:31] #449 closed

[2021-01-25 15:13] garvct commented on #441
@xpillons, got a similar failure today running the nvidia pipiline.
https://azurecat.visualstudio.com/hpccat/_build/results?buildId=10563&view=logs&j=40a7dfaa-edcf-57d7-da50-33204f1e0241&t=eef1fa0f-de1b-545a-8af2-256fc8a5c4c1&l=280
The time difference between "build install scripts" and the rsync error was only 2 seconds. The error is a connection refused. I believe we already check thad sshd is r

[2021-01-27 19:21] souvik-de opened #461 "Unable to create a cluster out of an HPC Image derived from a VHD - package epel-release is not installed epel-release-7-11.noarch"
**Describe the bug**
We have a pipeline that allows us to test a CentOS VHD. The pipeline downloads it into a storage account and then creates an image out of it. This image is now feed into the azhpc scripts to deploy a cluster and benchmarks are run. Before December 2020 we never had a issue doing it. But now the azhpc-build fails at the install_node_setup.sh step with the message "package epel-

[2021-01-28 09:59] xpillons commented on #461
@edwardsp can you please have a look ?

[2021-01-28 10:06] xpillons commented on #441
@edwardsp can you have a look to check why the prsync is failing ? I can see in the code that ssh is tested upfront, but I'm not 100% sure about the sequence. Otherwise maybe we should add a retry in the rsyn python wrapper function

[2021-01-28 13:49] edwardsp commented on #441
ssh isn't tested before the initial rsync so I have just added a PR to add a test for ssh.

[2021-01-28 14:08] edwardsp commented on #461
@souvik-de this is just failing as you are unable to ssh from the jumpbox to the compute instance.  Have you tried to access the VMSS instance yourself (as you are able to connect to the jumpbox)?  Also, does this happen consistently or just occasionally?

[2021-01-28 20:36] souvik-de commented on #461
I cannot ssh into the headnode even after resetting with password - "Permission denied (publickey,gssapi-keyex,gssapi-with-mic) | Permission denied (publickey,gssapi-keyex,gssapi-with-mic,password)". Happens consistently.

[2021-02-09 18:44] xpillons opened #466 "Support OpenPBS 20"
Add support for OpenPBS 20 as part of supporting CentOS 8.1

[2021-02-11 16:35] xpillons commented on #466
closed by #467

[2021-02-11 16:35] #466 closed

[2021-02-11 16:35] #425 closed

[2021-02-12 14:49] xpillons opened #468 "wfs nobarrier is deprecated since kernel 4.13"
need to review create_filesystem.sh and the whole storage scripts. nobarrier has been removed for CentOS8.
See this link for detail and potential tuning
https://serverfault.com/questions/980677/xfs-with-no-barrier-mount-option-deprecated

[2021-02-19 21:10] cperi opened #471 "[bug] NFS mount fails due issues in nfs.conf"
**Describe the bug**
While deploying in the gov region using Centos 7.7 and Centos 7.8, noticed that nfs client will not mount the shared directory. It seems that the following line is causing an error.

Line#44 in the /etc/nfs.conf file is
     40 # storagedir=/var/lib/nfs/nfsdcltrack
     41 #
     42 #[nfsd]
     43 # debug=0
     44 threads=32
     45 # host=
     46 # port=0
     47 # grace-t

[2021-02-22 09:56] xpillons commented on #471
I was not able to repro the error, however the [nfsd] section is commented but default. I will uncomment it in the install-nfsserver.sh script

[2021-02-23 07:58] #471 closed

[2021-05-11 07:40] tbugfinder opened #496 "support cyclecloud8 in cc_install.sh"
Hello,

would it make sense to support cyclecloud8 installer python in cc_install.sh script?
https://github.com/Azure/azurehpc/blob/1adbceb6dac2151b5cffd76cc837482245fc42fa/scripts/cc_install.sh#L13

Maybe the goal of cc_install.sh script is different than I think of :-)

Thanks & Best

[2021-05-11 14:46] tbugfinder opened #497 "cyclecloud8 config fails on "authorization.check_datastore_permissions"'"
https://github.com/Azure/azurehpc/blob/1adbceb6dac2151b5cffd76cc837482245fc42fa/scripts/cyclecloud8_config.py#L200

Hello,

whenever I execute cyclecloud8_config.py (using cyclecloud 8.1.1) it fails at the given command:
[code]

[2021-05-11 17:39] tbugfinder commented on #497
rebuilt everything few more times and didn't get it again within last build

[2021-05-11 17:39] #497 closed

[2021-05-16 17:48] xpillons commented on #496
Please use https://github.com/Azure/azurehpc/blob/master/scripts/cyclecloud8_install.py instead.

[2021-05-16 17:48] #496 closed

[2021-05-16 21:34] tbugfinder commented on #496
https://github.com/Azure/azurehpc/blob/master/scripts/cyclecloud8_install.py#L506

Why is the installation commented?

[2021-05-17 06:42] xpillons commented on #496
This is designed to run on top of the CycleCloud marketplace image. Please look at the ./examples/cycleserver_msi example.

[2021-09-28 23:03] imangohari1 opened #539 "[feature]"
**Is your feature request related to a problem? Please describe.**
Hi. We are part of a big org that has restriction on IT policies.
How can one use the followings:
1. an existing `vnet` and/or `resource group` instead of creating one?
2. disabling Hyper threading?
3. attaching a `storage account`?
4. enabling Mellanox fabric for `HBv3` and `HC44rc`?

**Describe the solution you'd like**
Modificat

[2021-09-29 15:25] xpillons commented on #539
Hi @imangohari1
I would suggest you to have a look at our new solution https://github.com/Azure/az-hop which will allow you to do 1.
4 is always done on these machines if you use the HPC Azure marketplace images.
for 2 and 3 this depends on what you want to do but definitively part of the customization that can be done on az-hop.

[2021-09-29 19:57] imangohari1 commented on #539
@xpillons
Thank you for pointing out the az-hop. I couldn't find `SLURM` as an scheduler option on there (only PBS). Is that the case?
If SLURM is supported could you point me to its onboarding/tutorial like this one: https://github.com/Azure/azurehpc/tree/master/examples/simple_hpc_slurm
Thanks.

[2021-10-04 11:03] xpillons commented on #539
SLURM is on our roadmap for az-hop, but no ETA defined yet. We will be happy to follow up once added.

[2021-10-21 15:41] imangohari1 opened #543 "[slurm version in AutoScale script]"
**Describe the bug**
Outdated slurm version for AutoScale.
https://www.schedmd.com/archives.php/news.php?id=253

**To Reproduce**
[code]

**Additional context**
 source: https://github.com/Azure/azurehpc/blob/master/examples/slurm_autoscale/scripts/slurmctl.sh#L7-L17

Here are proposed changes:
[code]

[2021-10-21 15:56] vgamayunov commented on #543
Older versions have been removed from SchedMD website ` Due to a security vulnerability (CVE-2021-31215), all versions of Slurm prior to 20.11.7 or 20.02.7 are no longer available for download. `

[2021-10-21 17:03] imangohari1 commented on #543
@vgamayunov
It did work with the 20.11.8 version.
After completion: I ran into this issue:
[code]

[2021-10-22 14:14] #543 closed, assigned to vgamayunov

[2022-05-12 18:24] upendart opened #583 "start_gpu_data_collector.sh script failure when tried to excute"
Hello,

I am trying to create dashboard on azure for GPU Monitoring.
I followed the steps mentioned and updated the fields with the required details in  start_gpu_data_collector.sh file, when I tried to execute the scripts it throws below error.
**gethostbyname("::1") failed.**

Then I updated the script and executed as below
./gpu_data_collector.py -tis $INTERVAL_SECS -dfi $DCGM_FIELD_IDS > /tmp/

[2022-05-17 19:09] garvct commented on #583
I am curious what modification to the script did you make to overcome the gethostbyname error?

Are you using this GPU monitoring script to monitor SLURM jobs GPU activity? (This is the default behavior). So, if you do not have a SLURM job running no GPU monitoring data will be sent to Azure monitor.
If you would like all processes on nodes to be monitored (even if they are not associated with a S

[2022-06-10 21:52] marcusgaspar opened #605 "[feature] Add the link of this video in the documentation"
**Is your feature request related to a problem? Please describe.**
No, but I believe the documentation should be improved.

**Describe the solution you'd like**
Add the link of this video in the home documentation of azurehpc project: https://www.youtube.com/watch?v=_Hugv386nsg&t=248s
This video lets much clearer how to start using azurehpc.

**Describe alternatives you've considered**
N/A

**Addi

[2022-07-07 13:53] dspasicevs opened #626 "Script returns error on Ubuntu 20.04 LTS [bug]"
**Describe the bug**
- Upon running the script - it returns error:
- Log analytics workspace says 'NaN' (Not a Number) instead of actual value

Steps to reproduce the behavior:
1. Clone repo with scripts
2. Edit variables (LOG ANALYTICS WORKSPACE ID and ACCESS KEY)
3. Run script (like shown on screenshot)
4. See error (like shown on screenshot)

**Expected behavior**
Script sends data to Log Analy

[2022-07-14 09:31] ltalirz opened #629 "[feature] specify subscription through config.json?"
**Is your feature request related to a problem? Please describe.**
This is just a minor suggestion but it appears that `azhpc` uses the user's default subscription, which means the user needs to be careful to always set it to the correct one before using the tool.

**Describe the solution you'd like**
I notice that in the newer [`az-hop`](https://github.com/Azure/az-hop), the subscription to use i

[2022-07-25 19:03] microsoft-github-policy-service[bot] opened #642 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-07-26 07:23] #642 closed